{% extends 'base.html' %}
{% block head %}
<title>Dashboard</title>
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
{% load static %}
<link rel="stylesheet" href="{% static 'webfont/cryptocoins.css' %}" type="text/css">
{% endblock %}

{% block body %}
<div class="dashboard-content feature-style-5 text-dark">
  <div class="dashboard-content-padding">
    <div class="container">
      <h1 class="section__heading text-center">Join Alberta PreICO</h1>
      <hr class="dark">
      <br>
      <p class="dashboard-p light-grey"><b>Your ETH Address:</b> 0xe99356bde974bbe08721d77712168fa070aa8da4</p>
      <p class="dashboard-p light-grey"><b>Balance:</b> 0 ALB Tokens </p>
      <br>
      <h5 class="light-grey dashboard-h5"><b>Choose token amount:</b> 10 000 000</h5>
      <div class="slidecontainer">
        <input type="range" min="0" max="15000000" value="50" class="slider" id="myRange">
      </div>
      <!--<input type="email" class="form-control" id="" placeholder="Email">
      <input type="text" class="form-control" id="" placeholder="ETH Address">
      <input type="password" class="form-control" id="" placeholder="Password">
      <input type="text" class="form-control" id="" placeholder="Invitation Code">
      <div class="btns">-->
      <button type="button" class="btn blue-btn">Invest in <i class="cc ETH-alt" title="ETH"></i></button>
      <button type="button" class="btn blue-btn">Invest in <i class="cc BTC-alt" title="BTC"></i></button>
    </div>
  </div>
</div>
{% endblock %}
