{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
{% endblock %}

{% block body %}
<div class="dashboard-content feature-style-5 text-dark">
  <div class="dashboard-content-padding">
    <div class="container">
      <h1 class="section__heading text-center">Profile</h1>
      <hr class="dark">
      <p><b>Username:</b> {{ user }}</p>
      <p><b>First name:</b> {{ user.first_name }}</p>
      <p><b>Last name:</b> {{ user.last_name }}</p>
      <p><b>Email:</b> {{ user.email }}</p>
    </div>
  </div>
</div>
{% endblock %}
</body>
